#note_categories{
    
    max-height:80%;
    width:100%;
    display:inline-block;
    overflow-y:scroll;
    margin-right:1px;

}
.nt_cat{
    margin-top:10px;
    margin-left:2px;
}
.nt_button{
    width:95%;
    height:40px;
    display:inline-block;
    text-align:left;
    
    margin-top:2px;

}

.nt_button>*{
    position: relative;
    top:50%;
    transform: translate(0%,-50%);
    margin-left:10px;
}

.nt_fold{
    display:none;
    margin-bottom: 8px;
    width:95%;
      
}
.nt_fold>*{

    width:90%;
    height:35px;
    display:inline-block;
    margin-top:8px;
    margin-bottom:8px;
    text-align:left;
    margin-left:5px;

}
.pg_fold_button>*{
    position:relative;
    top:50%;
    transform: translate(0,-50%);
    margin-left:5px;
}


