.draggable{
    cursor: pointer;
    display:inline-block;
    clear: both;
    width:var(--button-height);

}
.note_editors{
    position:absolute;
    right:10px;
    top:60%;
    
    
}
.draggable_button{
    border-bottom-left-radius:0px;
    border-bottom-right-radius:0px;
    cursor:move;    
   
    outline-color:var(--primary-color);
}
.note_alignment{
    position:sticky;
    top:60%;
    
}
.delete,.edit,.add_new_row{
    position:relative;
    margin-top:3px;
}

.more_tools{
    /*display:none;*/
    display:inline-block;
    position:absolute;
    left:calc(var(--button-height) * -2.1);
    border-top-left-radius:8px;
    border-bottom-left-radius:8px;
   
    background-color:var(--primary-color);
    opacity: 0.96;
    box-shadow:-1px 0px 1px 0.4px var(--secondary-color);

}
.more_tools>*{
    display:inline-block;
    vertical-align: top;
}
.tool{
    display:inline-block;
}


.tool:hover{
    background-color:rgb(0, 0, 0);
}

.note_editors{
}

.current_note_color{
    background-color:black;
}



